.students_table {
    height: 65vh;
    margin: 0 3rem;
}

.students_table_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
    margin: 0 3rem;
}
.students_table_title{
    font-size: 1.5rem;
}
.students_table_search {
    display: flex;
    align-items: center;
}

.students_table_search a{
    font-size: 1.2rem;
    padding: 1rem;
}
